<form class='d-flex form-control' action="/answer" method='get' data-turbo="false">
  <input class="form-control" type="text" name="question">
  <input  class="btn btn-outline-primary" type="submit" value="Ask!">
</form>
